<div class="panel">
    <form>
        <div class="form-group">
          <label for="original_title">original title</label>
          <input type="text" class="form-control" id="originalTitleText" placeholder="original_title" [value]="movie?.original_title || ''">
        </div>
        <div class="form-group">
            <label for="id">id</label>
            <input type="text" class="form-control" id="idText" placeholder="original_title" [value]="movie?.id || ''">
          </div>
          <div class="form-group">
            <label for="original_language">original_language</label>
            <input type="text" class="form-control" id="originalLanguageText" placeholder="original_language" [value]="movie?.original_language || ''">
          </div>
          <div class="form-group">
            <label for="overview">overview</label>
            <input type="text" class="form-control" id="overviewText" placeholder="overview" [value]="movie?.overview || ''">
          </div>
    </form>    
</div>

